/* --------------------------------------------
	
	Project 	: Photographer
	Author 		: pixelwars 
	Url			: pixelwars.org
	
	---
	
	CONTEXT:
	
	1. BASE
		1.1 ELEMENTS
		1.2 FONTS
		1.3 TYPOGRAPHY
	2. FORMS
	3. COMMON
	4. LAYOUT
	5. MODULES
	6. THEME
	
   -------------------------------------------- */
   
   
   
/*  --------------------------------------------

	1. BASE (@base) - base html elements
	
    -------------------------------------------- */

/* ----- 1.1 ELEMENTS ----- */   
html {
    font-size: 100%; box-sizing: border-box;
    }
*,
*:before, 
*:after {
    box-sizing: inherit; -webkit-font-smoothing: antialiased;
    }
body {
	position: relative; font-size: 1em; line-height: 1.5625; -webkit-text-size-adjust: none;
	}
a {
	text-decoration: none; outline: none;
	}
a:hover,
a:focus {
	text-decoration: none; outline: none;
	}
iframe {
 	border: none; max-width: 100%;
	}
ul {
 	list-style: square;
	}
img {
 	max-width: 100%; height: auto;
	}

/* ----- 1.2 FONTS ----- */ 
/* BODY */
body,
input,
textarea,
select,
button {
 	font-family: 'Roboto', sans-serif;
	}
/* HEADINGS */
h1, h2, h3, h4, h5, h6, 
.nav-menu, 
.entry-meta, 
.entry-title, 
.navigation, 
.post-pagination, 
tr th, 
dl dt,
input[type=submit],
input[type=button],
button,
.button,
label,
.comment .reply,
.comment-meta,
.yarpp-thumbnail-title,
.tab-titles,
.owl-theme .owl-nav [class*='owl-'],
.tptn_title,
.widget_categories ul li.cat-item,
.widget_recent_entries ul li,
.pswp__counter,
.mfp-counter {
	font-family: 'Montserrat', sans-serif;
	}
	
/* FONTELLO ICONS */
.hentry .entry-header:before,
blockquote:before,
.toggle h4:before,
.selector:before,
.checker span:before,
.radio span:before,
.uploader span.action:before,
.gallery-grid .post-password-required h2:before {
    font-family:fontello; font-style:normal; font-weight:400; speak:none; display:inline-block; text-decoration:inherit; text-align:center; font-variant:normal; text-transform:none;
    }

/* ----- 1.3 TYPOGRAPHY ----- */
/* headings and paragraphs  */
h1,
h2,
h3,
h4,
h5,
h6 { 
	line-height: 1.4; font-weight: 700; margin: 1.2em 0 0.8em 0;
    }
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child { 
    margin-top: 0; 
    }
h1 {
 	font-size: 1.5em; margin: 0.8em 0 0.8em 0; line-height: 1.2;
	}
h2 {
 	font-size: 1.2em; line-height: 1.3;
	}
h3 {
 	font-size: 1.1em;
	}
h4 {
 	font-size: 1.0em;
	}
h5 {
 	font-size: 1.0em;
	}
h6 {
 	font-size: 1.0em;
	}
p {
 	margin: 0 0 1.1em 0; font-size: .9375em;
	}
/* blockquote  */
blockquote {
 	position: relative; margin: 2em 0; padding: .4em 1.2em; font-size: 1.25em; font-weight: bold; line-height: 1.5;
	}
	blockquote:before {
		display: block; content: "\e81a"; line-height: 1; font-size: 18px; position: absolute; left: 0; top: -12px; 
		}
	blockquote cite {
		display: block; font-size: 12px; padding-right: 1em; margin-top: .4em; font-style: normal; font-weight: 400; color: #C5C2B6; text-transform: uppercase; letter-spacing: 2px;
		}
	blockquote cite:before {
		content: "\2014 \2009"
		}
hr {
 	padding: .2em 0 1em 0; margin-bottom: 2em; outline: 0; border-width: 0 0 3px 0; border-style: solid; border-color: #555;
	}
/* tables  */
table {
 	font-size: .925em; margin: 1em 0 3em 0; text-align: center;
	}
    tr th {
        padding: .8em 1.2em .8em 1.2em; font-weight: bold; font-size: 13px; line-height: 1.2; border-bottom: 3px solid #555; text-transform: uppercase; letter-spacing: 1px;
        }
    tr td {
        padding: .8em 1em .6em 1em; border-bottom: 1px solid #f5f5f5;
        }
    tfoot tr td {
        border-bottom: 0
        }
/* code and pre  */
code,
pre {
 	padding: 0 3px 2px; margin: 2em 0 4em; font-family: Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 14px; line-height: 22px; color: #333; white-space: pre; overflow: auto;
	}
code {
 	display: inline-block; margin: 0 4px -6px; padding: 0px 6px; font-size: 12px; background: #fff; border: 1px solid #E9E6DF; box-shadow: 1px 1px 0 #fff, 2px 2px 0 #F5F5F3;
	}
/* lists  */
ol,
ul {
 	margin: .2em 0 1em 0; line-height: 1.8;
	}
ul {
 	list-style: disc;
	}
dt {
 	margin-bottom: 1em; letter-spacing: 1px; font-weight: bold; font-size: 13px; border-bottom: 3px solid #555;
	}
dd {
	padding-bottom: 1.6em; margin-left: 1em;
	}


/*  --------------------------------------------

	2. FORMS (@forms) - form elements
	
    -------------------------------------------- */
form p {
 	position: relative; margin: 1.6em 0;
	}
label {
 	display: block; font-size: 13px; font-weight: bold; margin-bottom: 0.6em; text-transform: uppercase;
	}
label input { 
    font-weight: 400; font-size: 16px !important; 
    }
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]),
textarea,
select {
 	padding: .8em; width: 100%; font-size: .875em; line-height: 1; color: #333; border: 3px solid #eee; border-radius: 0; background: #fff; -webkit-appearance: none; -webkit-tap-highlight-color: transparent; box-sizing: border-box;
	}
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):hover,
textarea:hover,
input:hover,
select:hover,
div.uploader:hover,
div.uploader:hover span.action,
div.selector:hover, 
div.selector:hover:before {
 	outline: 0;
	}
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):focus,
textarea:focus,
input:focus,
select:focus, 
div.selector.focus, 
div.selector.focus:before {
 	border-color: #555; outline: 0;
	}
textarea {
 	min-height: 9em; line-height: 1.6;
	}
.inline-label {
 	display: inline-block; margin-right: 1.4em; font-family: inherit; font-size: 15px; font-weight: 400; letter-spacing: 0; text-transform: none;
	}
::-webkit-input-placeholder { color:#ddd; }
::-moz-placeholder { color:#ddd; } /* firefox 19+ */
:-ms-input-placeholder { color:#ddd; } /* ie */
/* uniform  */
div.selector.disabled,
div.checker.disabled,
div.radio.disabled {
 	opacity: .4
	}
div.selector {
    font-size: 1em; padding: .4em; width: 100% !important; line-height: 47px; height: 47px; padding-left: .8em; background: #fff; border: 3px solid #eee; border-radius: 2px;
	}
div.selector:before {
    position: absolute; top: 0; right: 0; width: 44px; font-size: 14px; color: #585858; border-left: 3px solid #eee; content: "\e80b";
	}
div.selector span {
 	height: 100%; padding-top: 4px; padding-left: 0; font-size: .875em; color: #666; background: none;
	}
div.selector select {
 	 height: auto; min-height: 47px; line-height: 45px; font-size: 15px; -webkit-tap-highlight-color: transparent;
	}
.android div.selector select {
 	font-size: 2em
	}
/* file upload  */
div.uploader {
    width: 100%; height: 47px; background: #fff; border: 3px solid #eee;
	}
	div.uploader input {
 		width: 100%; z-index: 100; line-height: 47px; min-height: 47px;
		}
	div.uploader span.filename {
 		padding: 0 .8em; width: 100%; line-height: 38px; min-height: 42px; border-left: 0; font-size: 13px; color: #6A7686;
		}
	div.uploader span.action {
 		width: 44px; text-indent: -999em; background: #fff; padding: 0; position: absolute; top: 0; right: 0; font-size: 13px; border-left: 3px solid #eee; height: 100%;
		}
	div.uploader span.action:before {
 		text-indent: 0; content: "\e809"; font-size: 14px; text-align: center; position: absolute; top: 8px; left: 15px;
		}
/* checkboxes  */
div.checker,
div.radio {
 	width: 20px; height: 29px; margin-right: 5px;
	}
	div.checker span,
	div.radio span {
 	background: none
		}
	div.checker span:before,
	div.radio span:before {
 	text-align: left; position: absolute; top: 0; left: 0; font-size: 20px; line-height: 130%; content: "\e810";
		}
	div.checker span.checked:before {
 		content: "\e80f"
		}
	div.radio span:before {
 		content: "\e80d"
		}
	div.radio span.checked:before {
 		content: "\e80e"
		}
/* contact form 7 compatibility  */
.wpcf7 {
 	padding: 0
	}
	.wpcf7 input[type=submit] {
 	margin-top: 1.4em
		}
	.wpcf7 label {
 	display: inline-block; margin-right: 2em;
		}
	.wpcf7 div.checker,
	.wpcf7 div.radio {
 	margin-right: 0px
		}
/* validation  */
label.error {
    position: absolute; bottom: -16px; left: 6px; margin: 0; min-width: 150px; font-family: inherit; font-size: 12px; font-weight: normal; text-transform: none; padding: .2em .8em; background-color: #E86A4F; color: #fff; letter-spacing: 0; text-transform: uppercase;
	}



/*  --------------------------------------------

	3. COMMON (@common) - common and helper classes
	
    -------------------------------------------- */
.cf:before,
.cf:after,
.row:before,
.row:after,
.entry-content:before,
.entry-content:after {
 	content: " "; display: table;
	}
.cf:after,
.row:after,
.entry-content:after {
 	clear: both;
	}
.center {
 	text-align: center;
	}
.easing {
 	-webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
	}
.easing-short,
input,
textarea,
.social li a,
.button,
.entry-title a,
a.more-link,
.format-link .link-content > a:first-child,
.navigation a,
.pagination a,
.entry-meta a,
.nav-single a,
.comment a,
.entry-content > p > a,
div.selector,
div.uploader,
.tagcloud a,
.nav-menu ul li a,
.owl-theme .owl-nav [class*='owl-'],
.owl-theme .owl-dots .owl-dot span,
.share-links a {
    -webkit-transition: color 0.15s, opacity .15s, background-color .15s, border-color .15s; transition: color 0.15s, opacity .15s, background-color .15s, border-color .15s;
    -webkit-transition: color 0.15s, opacity .15s, background-color .15s, border-color .15s; transition: color 0.15s, opacity .15s, background-color .15s, border-color .15s;
	}

/*  --------------------------------------------

	4. LAYOUT (@layout) : layout styles
	
    -------------------------------------------- */
.site-main { 
    margin: 1em 0 3em 0;
    }
.site-main:before,
.site-main:after {
 	content: " "; display: table;
	}
.site-main:after {
 	clear: both;
	}
.layout-full,
.layout-fixed,
.layout-medium {
	width: 86%; margin-left: auto; margin-right: auto; clear: both;
	}
.layout-fixed {
	 max-width: 740px;
	}
.layout-medium {
	 max-width: 1060px;
	}
.entry-header {
	text-align: center; margin-bottom: 1.4em;
	}
	.entry-title {
		margin: 0; text-transform: uppercase;
		}
        .entry-title i {
            display: block; font-size: 13px; color: #ddd; font-style: normal; margin-bottom: .1em; letter-spacing: 1px; text-transform: uppercase; font-weight: 700;
			}
        .entry-title .cat-title {
            text-transform: uppercase;
			}
.entry-content {
	margin-bottom: 2em;
	}


/* ----- 4.1 HEADER ----- */
.site-header {
	position: relative; width: 86%; margin-left: auto; margin-right: auto; padding: 1.4em 0; text-align: center;
	}
	.site-header .site-logo {
 	 	margin-bottom: 1em;
		}
	.site-header .site-title {
 	 	font-size: 1.3em; font-weight: 300; letter-spacing: 2px; margin: 0; text-transform: uppercase;
		}
	.site-header .site-description {
 	 	font-size: 13px; margin-bottom: 0; color: #ccc;
		}
	.site-header .site-title a {
        color: #333;
		}
	.site-title img {
		max-height: 100px;
		}

/* NAVIGATION */
.site-navigation { 
    display: block;
    }
.nav-menu { 
    display: block; text-align: center;
    }
.nav-menu ul { 
    display: block; list-style:none; padding:0; margin:0; text-transform: uppercase;
    }
.nav-menu ul li { 
    position:relative; display:block; padding: 0; margin:0; line-height: 1; font-size: 12px; font-weight: 300; 
    }
	.nav-menu ul li a { 
		display: block; padding: 0.9em 22px;
		}
.nav-menu ul li, 
.nav-menu ul li a { 
    color:#333; 
    }
.nav-menu ul li a:hover,
.nav-menu ul li a.selected {
	color: #C9B69B; 
	}

/* MOBILE MENU */
@media screen and (max-width: 991px) {
	.nav-menu { 
		display: none; padding: 1em 0;
		}
	.nav-menu > ul > li > a { 
		font-size: 1.8em; font-weight: 700; padding: .2em 0 0.2em 0; margin-top: .6em;
		}
	/* mobile menu toggled on */
	.is-menu-toggled-on .nav-menu { 
		display: block;
		}
	.is-menu-toggled-on .site-main,
	.is-menu-toggled-on .site-footer { 
		display: none;
		}
}

/* MENU TOGGLE */
.menu-toggle {
	display: block; width: 20px; height: 26px; margin: 0 auto; position: relative; transition: .3s; cursor: pointer;
	}
.menu-toggle:hover {
	opacity: 1;
	}
.menu-toggle:active {
	transition: 0;
	}
.menu-toggle .lines {
	display: block; width: 100%; height: 3px; background: #333; transition: 0.3s; position: relative; position: absolute; top: 40%;
	}
.menu-toggle .lines:before, 
.menu-toggle .lines:after {
	display: inline-block; width: 100%; height: 3px; background: #333; transition: 0.3s; position: absolute; left: 0; content: ''; -webkit-transform-origin: 0.28571rem center; transform-origin: 0.28571rem center;
	}
.menu-toggle .lines:before {
	top: 7px;
	}
.menu-toggle .lines:after {
	top: -7px;
	}
.menu-toggle.close {
	-webkit-transform: scale3d(0.8, 0.8, 0.8); transform: scale3d(0.8, 0.8, 0.8);
	}
.is-menu-toggled-on .menu-toggle .lines {
	background: transparent;
	}
.is-menu-toggled-on .menu-toggle .lines:before, 
.is-menu-toggled-on .menu-toggle .lines:after {
	-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; top: 0;
	}
.is-menu-toggled-on .menu-toggle .lines:before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg); transform: rotate3d(0, 0, 1, 45deg);
	}
.is-menu-toggled-on .menu-toggle .lines:after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);transform: rotate3d(0, 0, 1, -45deg);
	}

/* ----- 4.2 FOOTER ----- */
.site-footer {
	position: relative; z-index: 200; width: 100%; border-top: 1px solid #eee;
	}
    .site-footer .site-info {
		padding: 1.2em 0 ; text-align: center;
        }
        .site-footer .site-info p {
            margin: 0;  font-size: 13px;
            }
/* FOOTER SOCIAL */
.footer-social {
	text-align: center; margin: 1.6em 0 0; min-height: 22px;
	}
.footer-social .social {
	margin: 0;
	}
.footer-social .social li a {
	width: 34px; line-height: 30px; font-size: 12px;
	}

/* SIDEBAR */
.sidebar { 
    margin-top: 3em;
    }

/*  --------------------------------------------

	5. MODULES @modules : reusable styles
	
    -------------------------------------------- */

/* FULL WIDTH IMAGE */
.full-width-image {
	margin: 1em 0 1.6em; min-height: 1000px;
	}
.content-area:not(.with-sidebar) .full-width-image img {
	position: absolute; left: 0; width: 100%;
	}

/* SECTION-TITLE */
.section-title { 
	position: relative; margin-bottom: 1em; padding-top: .6em; text-transform: uppercase; font-weight: 700; letter-spacing: 2px; font-size: 12px; padding-bottom: .2em; border-bottom: 1px solid #eee;
	}
		
/* FUN FACT */
.fun-fact { 
	padding: 1em 0; text-align: center;
	}
	.fun-fact i { 
		display: block; width: 100%; margin-bottom: .7em; font-size: 32px; line-height: 1;
		}
	.fun-fact h4 { 
		margin: 0; font-size: 1em; line-height: 1.2; font-weight: 300;
		}

/* TESTIMONIAL */
.testo {
    position: relative; padding: 1.4em 1.8em; margin: 2.4em 0 4em 0; border: 2px solid #555; 
	}
	.testo img {
 		display: block; margin: -70px auto 10px auto; max-height: 92px; border-radius: 50%; border: 6px solid #fff;
		}
	.testo h4 {
		position: relative; text-align: center; margin: 0; text-transform: uppercase; font-size: 15px;
		}
		.testo h4 span {
            display: block; font-size: 12px; color: #ccc; font-weight: 400; text-transform: uppercase;
			}
	.testo p {
		position: relative; margin: .6em 0 0.2em 0; font-size: .925em;
		}
				
/* SOCIAL LINKS */
.social {
 	padding: 0; margin: 2em 0 4em 0; list-style: none;
	}
	.social li {
 		display: inline-block; padding: 0; margin-bottom: -3px;
		}
		.social li a {
            display: block; float: left; margin: 0 .1em .2em 0; text-align: center; font-size: 15px; font-family: "fontello"; width: 38px; line-height: 34px; color: #333; background: #fff; border: 2px solid #555; border-radius: 50%;
			}
		.social li a.facebook:before {
 			content: '\e825'
			}
		.social li a.twitter:before {
 			content: '\e826'
			}
		.social li a.flickr:before {
 			content: '\e835'
			}
		.social li a.rss:before {
 			content: '\e82f'
			}
		.social li a.dribbble:before {
 			content: '\e82c'
			}
		.social li a.lastfm:before {
 			content: '\e82e'
			}
		.social li a.linkedin:before {
 			content: '\e827'
			}
		.social li a.vimeo:before {
 			content: '\e830'
			}
		.social li a.forrst:before {
 			content: '\e831'
			}
		.social li a.skype:before {
 			content: '\e832'
			}
		.social li a.picasa:before {
 			content: '\e833'
			}
		.social li a.tumblr:before {
 			content: '\e836'
			}
		.social li a.behance:before {
 			content: '\e82b'
			}
		.social li a.blogger:before {
 			content: '\e837'
			}
		.social li a.delicious:before {
 			content: '\e838'
			}
		.social li a.digg:before {
 			content: '\e839'
			}
		.social li a.friendfeed:before {
 			content: '\e83a'
			}
		.social li a.github:before {
 			content: '\e82a'
			}
		.social li a.wordpress:before {
 			content: '\e83b'
			}
		.social li a.google-plus:before {
 			content: '\e828'
			}
		.social li a.youtube:before {
 			content: "\e834"
			}
		.social li a.pinterest:before {
 			content: "\e829"
			}
		.social li a.instagram:before {
 			content: "\e82d"
			}
		.social li a.stack-overflow:before {
 			content: "\e83c"
			}
		.social li a.foursquare:before {
 			content: "\e83d"
			}
		.social li a.xing:before {
 			content: "\e83e"
			}
		.social li a.weibo:before {
 			content: "\e83f"
			}
		.social li a.soundcloud:before {
 			content: "\e840"
			}
		.social li a.fivehundredpx:before {
 			content: "\e841"
			}
		.social li a.slideshare:before {
 			content: "\e842"
			}
        .social li a.vine:before {
 			content: "\e863"
			}
        .social li a.vkontakte:before {
 			content: "\e846"
			}
		.social li a:hover {
            color: #fff; background: #333; border-color: transparent;
			}
		.social li a.facebook:hover {
            background-color: #3c5fac;
			}
		.social li a.twitter:hover {
            background-color: #5ec3df;
			}
		.social li a.flickr:hover {
            background-color: #FF0084;
			}
		.social li a.rss:hover {
            background-color: #ff9900;
			}
		.social li a.dribbble:hover {
            background-color: #EA4C89;
			}
		.social li a.lastfm:hover {
            background-color: #D51007;
			}
		.social li a.linkedin:hover {
            background-color: #2089b5;
			}
		.social li a.vimeo:hover {
            background-color: #0dadd6;
			}
		.social li a.google-plus:hover {
            background-color: #c63d2d;
			}
		.social li a.forrst:hover {
            background-color: #5b9a68;
			}
		.social li a.skype:hover {
            background-color: #00aff0;
			}
		.social li a.picassa:hover {
            background-color: #ffd34e;
			}
		.social li a.youtube:hover {
            background-color: #c8312b;
			}
		.social li a.pinterest:hover {
            background-color: #cb2027;
			}
		.social li a.tumblr:hover {
            background-color: #2C4762;
			}
		.social li a.behance:hover {
            background-color: #3878F6;
			}
		.social li a.blogger:hover {
            background-color: #fc9947;
			}
		.social li a.delicious:hover {
            background-color: #3274d1;
			}
		.social li a.digg:hover {
            background-color: #205891;
			}
		.social li a.friendfeed:hover {
            background-color: #2f72c4;
			}
		.social li a.github:hover {
            background-color: #222;
			}
		.social li a.wordpress:hover {
            background-color: #0083b3;
			}
		.social li a.instagram:hover {
            background-color: #3f729b;
			}
		.social li a.stack-overflow:hover {
            background-color: #F90;
			}
		.social li a.foursquare:hover {
            background-color: #009FE0;
			}
		.social li a.xing:hover {
            background-color: #006567;
			}
		.social li a.weibo:hover {
            background-color: #E64141;
			}
		.social li a.soundcloud:hover {
            background-color: #FA3219;
			}
		.social li a.fivehundredpx:hover {
            background-color: #222;
			}
		.social li a.slideshare:hover {
            background-color: #ED9D2C;
			}
		.social li a.vine:hover {
            background-color: #00BF8F;
			}
		.social li a.vkontakte:hover {
            background-color: #6383A8;
			}
/* MAP */
.map {
 	margin: 0; line-height: 0;
	}
	.map iframe {
 		width: 100%; border-width: 0; outline: none; height: 350px; border-radius: 4px;
		}
.map-canvas {
	width: 100%; height: 240px; margin: 0px; padding: 0px; line-height: 1.6;
	}
	.map-canvas img { 
		max-width: none; 
	}
		
/* MEDIA GRID WRAP */
.media-grid-wrap {
 	width: 106.8%; margin-left: -3.4%;
	}

/* 404 */
.page-404 {
    text-align: center; 
    }
.http-alert {
 	 margin: 0;
	}
	.http-alert h1 {
 		margin: .2em 0 .4em 0; font-size: 8em; letter-spacing: .04em; line-height: 1;
		} 
input#search-big {
    font-size: 1.2em; border: 0; width: 100%; padding-left: 0; max-width: 100%; text-align: center;
    }
.no-cssgradients input#search-big {
    border: 3px solid #eee;
}
		
/* DROP CAP */
.drop-cap:first-letter {
 	font-size: 42px; line-height: 1.1; font-weight: 700; float: left; padding: 0px 12px 0px 0; margin-bottom: -6px;
	}
	
/* BUTTONS */
input[type=submit],
input[type=button],
button,
a.button,
.button {
 	display: inline-block; position: relative; padding: 1em 1.8em; font-size: 13px; font-weight: 700; letter-spacing: 1px; line-height: 1.2; outline: 0; background: #fff; border: 3px solid #333; color: #333; text-transform: uppercase; text-shadow: none; border-radius: 0;
	}
input[type=submit]:hover,
input[type=button]:hover,
button:hover,
a.button:hover{
 	color: #fff; background-color: #333;
	}
input[type=submit]:active,
input[type=button]:active,
button:active,
a.button:active {
 	background-color: #555; border-color: #555;
	}
/* Large Buttons */
input[type=submit].big,
input[type=button].big,
button.big,
a.button.big {
 	font-size: 1.0em; padding: 1.2em 2.6em;
	}
/* Buttons with icons */
input[type=submit] i,
input[type=button] i,
button i,
a.button i {
 	line-height: 1; font-size: 18px; margin-right: 0.4em; margin-left: -0.4em;
	}
input[type=submit].big i,
input[type=button].big i,
button.big i,
a.button.big i {
    font-size: 28px; line-height: 0; vertical-align: sub;
	}
/* red buttons  */
input[type=submit].red,
input[type=button].red,
button.red,
a.button.red {
 	color: #FF6140; border-color: #FF6140; 
	}
input[type=submit].red:hover,
input[type=button].red:hover,
button.red:hover,
a.button.red:hover {
    background-color: #FF6140; border-color: #FF6140; color: #fff;
	}
/* green buttons  */
input[type=submit].green,
input[type=button].green,
button.green,
a.button.green {
 	color: #5BCF80; border-color: #5BCF80;
	}
input[type=submit].green:hover,
input[type=button].green:hover,
button.green:hover,
a.button.green:hover {
    background-color: #5BCF80; border-color: #5BCF80; color: #fff;
	}

/* TABS */
.tabs {
 	font-size: 1em; margin-bottom: 2em;
	}
	.tabs .tab-titles {
 		padding: 0; margin: 0 0 0px 0; font-size:  13px; font-weight: bold;
		}
		.tabs .tab-titles li {
 			display: inline-block; margin-bottom: 0px;
			}
			.tabs .tab-titles li a {
 				display: inline-block; padding: 0; margin-right: 1em; border: 0; cursor: pointer;
				}
			.tabs .tab-titles li a.active {
                border-bottom: 3px solid #555;
				}
	.tabs .tab-content {
        font-size: 15px; 
		}
		.tabs .tab-content > div {
 			padding: 1em 0; display: none;
			}
			
/* TOGGLES */
.toggle-group {
	margin-bottom: 2em;
	}
	.toggle h4 {
        position: relative; font-size: 15px; font-weight: bold; border-left: 0; padding: .8em 0 .8em 1.8em; margin: 0; cursor: pointer; border-bottom: 1px solid #eee;
		}
	.toggle h4.active {
 		color: #444; border-bottom: 0;
		}
	.toggle h4:before {
        content: "\e89f"; color: #555; position: absolute; top: 1.6em; left: 0; font-size: 11px; line-height: 1;
		}
	.toggle h4.active:before {
 		content: "\e8a0";
		}
	.toggle .toggle-content {
        display: none; padding: 0.2em 0 1.2em 1.8em; font-size: 15px; border-bottom: 1px solid #eee;
		}
		
/* ALERTS */
.alert {
    position: relative; padding: 1em 2em; font-weight: bold; line-height: 1.4; margin-bottom: 2em; border: 3px solid #ddd;
	}
.alert.success {
    border-color: #8EE1A8;
	}
.alert.error {
 	border-color: #FF6140;
	}

/* PRICING TABLES */
.pricing-table {
	padding: 2em; margin: 3em 0; text-align: center; border: 2px solid #555;
	}
.pricing-table ul {
	padding: 0; margin: 1em 0 2.4em; list-style: none; font-size: 14px;
	}
.pricing-table ul li {
	margin-bottom: .4em;
	}
.pricing-table h3 {
	font-size: 1.3em; text-transform: uppercase; margin: 0 0 1em 0; padding-bottom: 1em; border-bottom: 4px solid #555;
	}
.pricing-table h4 {
	font-size: 2.6em; font-weight: 400; color: #333; margin: 24px 0;
	}

/* CONTACT FORM */
.contact-form {
 	margin: 1.6em 0 3em 0; overflow: auto;
	}
	.contact-form p {
		margin: 0 0 1.8em 0;
		}
	.contact-form input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]),
	.contact-form textarea {
		display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
		}
    .submit {
        position: relative; overflow: hidden; 
        }
    .submit .submit-label {
        position: relative; display: inline-block;
        }
    .submit .submit-status {
        position: absolute; z-index: 2; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; filter:alpha(opacity=0); background: #fff; -webkit-transform: scale(2.5); transform: scale(2.5);
        }
    .submit.loading .submit-status {
        background: #fff url(../images/bckg/loading.gif) center center no-repeat; background-size: 88px 8px;
        }
    .submit.active .submit-status {
        opacity: 1; filter:alpha(opacity=100); -webkit-transform: none; transform: none;
        }
    .submit .submit-status:before { 
        font-family: "fontello"; line-height: 40px; 
        }
    .submit.success { 
        color: #096; border-color: #096;
        }
    .submit.error { 
        color: #FF6140; border-color: #FF6140;
        }
    .submit.success .submit-status:before { 
        content: '\e85b'; 
        }
    .submit.error .submit-status:before { 
        content: '\e85d'; 
        }
.contact-form .antispam { 
	display: none; 
	}
@media screen and (max-width=767px) {
.col-xs-6:nth-child(3) {
	clear: left;
	}
}

/* GRID PAGE */
.show-grid div {
 	font-size: .8em; padding-top: .9em; padding-bottom: .9em; text-align: center; margin-bottom: 1.4em; border: 1px solid #eee;
	}
	
/* SHORTCODES PAGE */
.show-buttons .button {
 	margin: 0 1em 1em 0;
	}

/* BLOG SIMPLE */
.blog-simple {
    margin: 0; padding: 1.2em 0;
    }
	.blog-simple .hentry {
		padding-bottom: 1em;
		}
    .blog-simple .entry-header{
        padding: 0; margin-bottom: 1em;
        }
    .blog-simple h1 {  
        font-size: 1em;
        }
    .blog-simple .entry-meta .cat-links a {
        padding: 4px 12px;
        }
    .blog-simple .entry-meta .post-format {
        display: none;
        }
    .blog-simple p {  
        color: #777; margin: .2em 0;
        }
    .blog-simple .byline {
        display: none; 
        }

/* FLUIDBOX */
.fluidbox {
	cursor: pointer; cursor: zoom-in; cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
    }
	
/* BLOG */
.blog-regular .entry-title {
 	margin: 0; font-size: 1.1em; font-weight: 700; text-transform: uppercase;
    }
    .blog-regular .hentry {
        margin-bottom: 3em;
        }
    .entry-title a {
        color: #333;
        }
    .entry-title a:hover {
        color: #7F7F7F;
        }
/* entry-meta */
.entry-meta {
    margin: 0.5em 0 0 0; font-size: 12px; font-weight: 700; text-transform: uppercase;
	}
.entry-meta,
.entry-meta .comment-link a {
	color: #ddd; 
	}
.entry-meta .comment-link a:hover {
	color: #ccc; 
	}
	.entry-meta > span {
        display: inline-block; margin-right: 1em;
		}
	.entry-meta > span:last-child {
        margin-right: 0;
		}
	.entry-meta a,
	.post-pagination li a {
		font-size: 13px;
		}
	.entry-meta .cat-links a {
		margin: 0 2px;
		}
.comment-meta a,
.comment-reply-link,
.tabs .tab-titles li a {
	color: #333
	}

.entry-meta a:active,
.nav-single a:active,
.comment-meta a:active,
.comment-reply-link:active,
.navigation a:active,
.post-pagination a:active,
.entry-content a.more-link:active {
	color: #aaa
	}
/* more link */
.more {
	display: block; margin: 1em 0 0 0; text-align: center;
	}
.entry-content a.more-link {
	display: inline-block; font-weight: bold; text-transform: uppercase; color: #333; font-size: 12px; letter-spacing: 1px; border-bottom: 2px solid #555;
	}
.entry-content a.more-link:hover {
    color: #777; border-color: #777;
    }
/* featured image */
.featured-image,
.entry-content iframe {
 	margin-bottom: 1.2em;
	}
	.featured-image img {
 		display: block; margin: 0 auto;
		}

/* POST FORMATS */
.hentry .entry-header:before {
 	font-size: 18px; color: #555; display: block; text-align: center; padding-bottom: .4em;
	}
/* sticky  */
.hentry.sticky .entry-header:before {
 	content: "\e86b";
	}
/* quote  */
.format-quote .entry-content {
    text-align: center;
    }
.format-quote .entry-header:before {
 	content: "\e81a"
	}
.format-quote blockquote {
 	display: block; width: 100%; max-width: 480px; padding: 0; margin: 0 auto !important;
	}
.format-quote blockquote:before {
 	content: ""
	}
/* link  */
.format-link .entry-header:before {
 	content: "\e81b"
    }
.format-link .entry-content {
    text-align: center;
    }
.format-link .entry-content > p:first-child {
    text-align: center;
    }
.format-link .entry-content > p:first-child a:first-child {
    font-size: 1em; font-weight: bold; word-break: break-all; padding: .5em 1em; display: inline-block; text-transform: uppercase; letter-spacing: 2px; color: #333; border: 3px solid #555; 	
	}
.format-link .entry-content > p:first-child a:first-child:hover {
    color: #777; border: 3px solid #777; 	
    }
/* status  */
.format-status .entry-content { 
    text-align: center; 
    }
.format-status .entry-header:before {
 	content: "\e84e"
	}
.format-status .entry-content > p:first-child {
    display: inline-block; padding: .5em 1em; border: 1px solid #E9E6DF; font-size: 1.2em; font-style: italic; line-height: 1.5;
	}
/* chat  */
.format-chat .entry-header:before {
 	content: "\e813"
	}
.chat-row:after {
 	display: table; content: ""; line-height: 0;
	}
.chat-author {
 	float: left; width: 88px; margin-top: 4px; text-transform: uppercase;
	}
.chat-author cite {
 	display: inline-block; min-width: 80%; margin-right: .1em; font-size: 13px; font-weight: 700; font-style: normal;
	}
.chat-text {
 	padding-left: 100px;
	}
.chat-text p {
    position: relative; display: inline-block; max-width: 460px; padding: 5px 12px; margin-top: 0; margin-bottom: .9em; background: #FFF; border: 2px solid #555; font-size: 14px !important; line-height: 1.5 !important;
    }
.chat-text p:after { content: ''; position: absolute; border-style: solid; border-width: 6px 8px 6px 0; border-color: transparent #FFFFFF; display: block; width: 0; z-index: 1; left: -8px; top: 10px;
    }
.chat-text p:before {
    content: ''; position: absolute; border-style: solid; border-width: 4px 8px 4px 0; border-color: transparent #555; display: block; width: 0; z-index: 0; left: -9px; top: 10px;
    }
.chat-speaker-2 .chat-author {
    color: #ccc;
    }
.chat-speaker-2 .chat-text p {
    border-color: #eee;
    }
.chat-speaker-2 .chat-text p:before {
    border-color: transparent #eee;
    }
/* video  */
.format-video .entry-header:before {
 	content: "\e816"
	}
/* audio  */
.format-audio .entry-header:before {
 	content: "\e885"
	}
.format-audio iframe {
	max-height: 200px;
	}
img + .mejs-audio {
 	margin-top: -4px; 
	}
/* image  */
.format-image .entry-content {
    text-align: center;
    }
.format-image .entry-header:before {
 	content: "\e86a"
	}
/* gallery  */
.format-gallery .entry-header:before {
 	content: "\e86a"
	}
.format-gallery .gallery {
	margin-top: 0;
	}
/* gallery grid */
.gallery {
	margin: 2em 0; width: 100%;
	width: -webkit-calc(100% + 4px);
	width:         calc(100% + 4px);
    }
.gallery:before,
.gallery:after {
 	content: " "; display: table;
	}
.gallery:after {
 	clear: both
	}
.gallery-item {
	display: block; float: left; margin: 0 4px 4px 0; position: relative;
    }
.gallery-item img {
	width: 100%;
    }
.gallery-columns-1 .gallery-item {
	max-width: 100%;
    }
.gallery-columns-2 .gallery-item {
	width: 48%;
	width: -webkit-calc(50% - 4px);
	width:         calc(50% - 4px);
    }
.gallery-columns-3 .gallery-item {
	width: 32%;
	width: -webkit-calc(33.3% - 4px);
	width:         calc(33.3% - 4px);
    }
.gallery-columns-4 .gallery-item {
	width: 23%;
	width: -webkit-calc(25% - 4px);
	width:         calc(25% - 4px);
    }
.gallery-columns-5 .gallery-item {
	width: 19%;
	width: -webkit-calc(20% - 4px);
	width:         calc(20% - 4px);
    }
.gallery-columns-6 .gallery-item {
	width: 15%;
	width: -webkit-calc(16.7% - 4px);
	width:         calc(16.7% - 4px);
    }
.gallery-columns-7 .gallery-item {
	width: 13%;
	width: -webkit-calc(14.28% - 4px);
	width:         calc(14.28% - 4px);
    }
.gallery-columns-8 .gallery-item {
	width: 11%;
	width: -webkit-calc(12.5% - 4px);
	width:         calc(12.5% - 4px);
    }
.gallery-columns-9 .gallery-item {
	width: 9%;
	width: -webkit-calc(11.1% - 4px);
	width:         calc(11.1% - 4px);
    }
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
    }
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
    }
.gallery-caption {
    position: absolute; top: 100%; left: 0; right: 0; max-height: 45%; margin: 0; padding: 6px 8px; text-align: center; opacity: 0; filter: alpha(opacity=0); font-size: 13px; line-height: 1.4; overflow: hidden; z-index: 999; color: #fff; background-color: #333;
    }
.gallery-caption:before {
	content: ""; height: 100%; min-height: 49px; position: absolute; top: 0; left: 0; width: 100%;
    }
.gallery-item:hover .gallery-caption {
    opacity: 1; filter: alpha(opacity=100);
    }
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
    }
/* aside  */
.format-aside .entry-header:before {
 	content: "\e81e"
	}
.format-aside .entry-content {
    text-align: center;
	}

/* PAGINATION */
.navigation,
.post-pagination {
    margin: 2em 0; text-transform: uppercase; 
	}
.navigation {
    border-top: 2px solid #555;
    }
	.navigation > div {
 		width: 50%; float: left;
		}
	.navigation a {
 		display: inline-block; padding: 1em; color: #333; border: 2px solid #555; border-top: 0; font-weight: 700; font-size: 11px; line-height: 1.3;
    	}
    .navigation a:hover {
        color: #777;
        }
	.navigation .nav-next {
 		text-align: right;
		}
	.navigation .meta-nav {
 		margin-right: .5em
		}
	.navigation .nav-next .meta-nav {
 		margin-left: .5em; margin-right: 0;
		}
/* NUMBERED PAGINATION */
.post-pagination ul {
	list-style: none; text-align: center; padding: 0; margin: 0; font-size: 0;
	}
.post-pagination li {
	display: inline-block;
	}
	.post-pagination li a {
		display: inline-block; padding: .5em 1.2em; margin: .2em; font-size: 11px; font-weight: 700; color: #333;  border: 2px solid #555;
		}
	.post-pagination li a:hover {
		color: #777;
		}
.post-pagination li.current a,
.post-pagination li.current a:hover {
	color: #777; border-color: #fff; cursor: default;
	}
		
/* BLOG SINGLE */
.blog-single .entry-content p {
	font-size: 18px; line-height: 31px;
	}
.blog-single .entry-meta {
 	line-height: 1.9; text-align: center; padding-bottom: 20px;
	}
.nav-single,
.navigation {
 	font-size: 1em; overflow: auto;
	}
.nav-single {
	padding: 2em 0 1em 0; 
	}
.gallery-single .nav-single {
	padding: 0;	
	}
.gallery-single .entry-content + .nav-single {
	padding-top: 2em;	
	}
	.nav-single h4 {
		float: left; font-weight: 700; display:inline-block; letter-spacing: 3px; font-size: 13px; padding-bottom: .2em; border-bottom: 2px solid #555;
		}
	.nav-single a {
        display: block; clear: both; float: left; max-width: 240px; width: 100%; margin-bottom: 1em; line-height: 1.4;
		}
	.nav-single .meta-nav {
 		margin-right: .6em
		}
	.nav-single .nav-next .meta-nav {
 		margin-left: .6em; margin-right: 0;
		}
	.nav-single .nav-next {
 		text-align: right
		}
	.nav-single .nav-next h4,
	.nav-single .nav-next a {
 		float: right
		}

/* SHARE LINKS */
.share-links { 
	margin: 2em 0; overflow: hidden; text-align: center; clear: both; border-bottom: 2px solid #555; border-top: 2px solid #555; 
	}
.share-links h3 { 
	font-size: 12px; font-weight: 700; margin-top: 1.15em; letter-spacing: 1px;
	}
.share-links a { 
	display: inline-block; padding: 0.6em .8em; margin-left: -2px; font-size: 16px; color: #555;
	}

/* COMMENTS */
.comments-title {
	text-transform: uppercase; padding-bottom: .2em; border-bottom: 2px solid #555;
	}
.comments-area {
 	padding: 0; clear: left;
	}
.comments-area ol {
 	list-style: none; margin: 0; padding: 0;
	}
    .commentlist {
 	padding: 0; line-height: 1.6;
	}
	.comments-area ol ol {
 		margin-left: 6%
		}
.comments-area article {
    position: relative; padding: .6em 0; margin-bottom: .8em; border-bottom: 1px solid #eee;
    }   
.commentlist > li:last-child > article {
    border-bottom: 0;
    }
.comment-meta {
    text-transform: uppercase;
    }
.comment-meta img {
    display: block; float: left; margin: 0 1.0em 0 0; max-width: 52px; 
	}
.comment-meta .fn {
    display: block; font-size: 13px; font-weight: 700; line-height: 1.2; font-style: normal;
    }
.comment-meta .comment-date {
    display: block; font-size: 11px; font-weight: 600; color: #ddd;
    }
.comment-content {
    padding-top: .1em; clear: left;
	}
	.comment-content p {
 		margin: .6em 0 .8em 0; font-size: 0.875em;
		}
.comment .reply {
    text-align: right; font-weight: 700; font-size: 12px; letter-spacing: 1px; text-transform: uppercase;
	}
/* comment by post author  */
.bypostauthor > article:before {
    font-family: "fontello"; content: '\e862'; font-weight: bold; font-size: 15px; margin-right: 12px; position:  absolute; top: 0; right: 0; color: #555;
    }
	
/* COMMENT FORM */
#respond {
 	padding: 2em 0;
    }
    #reply-title {
        text-transform: uppercase; font-weight: 700; padding-bottom: .2em; border-bottom: 2px solid #555;
    }
.form-allowed-tags,
.comment-notes {
 	display: none; font-size: .8em;
	}
	.form-allowed-tags code {
 		margin-top: 1em
		}
.form-submit {
 	padding-top: .5em;
	}
	
/* ABOUT THE AUTHOR */
.about-author {
 	margin: 2em 0;
	}
.author-bio {
 	padding-top: .4em;
	}
.author-bio h4 {
    font-size: 1em; margin-bottom: .8em; font-weight: 600; text-transform: uppercase;
	}
.author-img {
 	width: 80px; margin: 0 1.6em 1em 0; float: left;
	}
	.author-img img {
		display: block; border-radius: 50%;
		}
.author-info p {
 	font-size: .875em; line-height: 1.7; margin: .4em 0;
	}
.author-info *:first-child {
 	margin-top: 0
	}
.about-author .social {
	margin: 0 0 0 -10px; 
	}
	.about-author .social li a {
		border: 0; font-size: 15px; width: 28px; line-height: 28px; color: #555;
		}
	.about-author .social li a:hover {
		color: #fff;
		}

/* POST TAGS */
.post-tags { 
	margin: 2em 0; clear: both;
	}
    
/* RELATED POSTS */
.yarpp-related {
    padding: 1em 0;
    }
.yarpp-related h3 {
    text-align: center; font-weight: 700; letter-spacing: 2px; text-transform: uppercase; margin-bottom: 1em;
    }
.yarpp-thumbnails-horizontal .yarpp-thumbnail {
    display: block; margin-bottom: 1em;
    }
.yarpp-thumbnail-title {
    display: block; font-size: 13px; font-weight: 700; text-transform: uppercase;  margin-bottom: 1em; margin-top: .6em; padding-bottom: .2em; text-align: center; color: #555;
    }
.yarpp-thumbnail-title:hover {
    color: #888;
    }

/* WIDGET AREA */
.widget-area .widget { 
    padding: 0 0 2em 0; 
    }
.widget-area a { 
    color:#555; 
    }
.widget-area a:hover { 
    color:#7a7a7a; 
    }
.widget-area a:active { 
    color: #aaa;
    }
.widget-title { 
    margin-bottom: 2em; font-size: 12px; text-transform: uppercase; letter-spacing: 1px; font-weight: 700; text-align: center; position: relative;
    }
.widget-title span {
    display: inline-block; padding: 0 1.2em; background: #fff; position: relative; z-index: 2;
    }
.widget-title:before {
    content: ""; border-bottom: 3px solid #555; width: 100%; position: absolute; left: 0; top: 8px; z-index: 0;
    }
.widget label input {
	font-size: 14px !important;
	}
.widget input[type=submit], 
.widget input[type=button],
.widget button, 
.widget a.button, 
.widget .button {
	font-size: 10px !important;
	}
.widget-area iframe {
 	width: 100% !important; max-height: 290px;
	}

/* DEFAULT WIDGETS */
.widget-area ul { 
    margin-left: 0; list-style: none; padding-left: 0; 
    }
.widget-area ul ul { 
    margin-left: 1.2em; 
    }
.widget-area ul li { 
    position:relative; margin-bottom:.4em; font-size:.925em; line-height:1.5;
    }

/* search widget */
.widget_search {
	text-align: center; 
	}
.widget_search .search-submit { 
    margin-top: 12px; 
    }
.screen-reader-text {
	display: none;
	}
	
/* recent entries widget */
.widget_recent_entries ul { 
    margin-left: 0; list-style: none;
    }
.widget_recent_entries ul li { 
    margin: 0; padding: .7em 0; font-size: 16px; line-height: 1.3; font-weight: bold; text-transform: uppercase; border-bottom: 1px solid #eee;
    }

/* recent comments widget */
.widget_recent_comments ul li { 
    font-style: italic; 
    }
.widget_recent_comments ul li a { 
    font-style: normal; 
    }
.widget_recent_comments ul li a:nth-of-type(2) { 
    font-weight: bold; 
    }

/* pages widget */
.widget_pages ul ul li { 
    font-size: 1em; 
    }

/* text widget */
.textwidget { 
    font-size: .925em; 
    }
.textwidget img { 
	margin-bottom: 1em;
    }
.textwidget .social { 
	margin: 0;
    }

/* rss widget */
.widget_rss .rss-date, 
.widget_rss cite:before { 
    text-align:left; font-style:italic; color:#bbb; 
    }
.widget_rss .rss-date { 
    margin-left:1em; font-size:.875em; 
    }
.widget_rss ul li { 
    padding-bottom: 1.4em;
    }
.widget_rss ul li a.rsswidget { 
    font-weight:bold; 
    }
.widget_rss .widget-title img { 
    margin-right:.1em; 
    }
.widget_rss cite { 
    display:block; margin-top:.6em; text-align:right; 
    }
.widget_rss cite:before { 
    content:"by "; 
    }
.widget_rss .rssSummary { 
    padding-top:.2em; 
    }

/* tag cloud widget */
.tagcloud a { 
    font-size: 13px !important; margin: 0 1px 6px 0; display: inline-block; padding: .5em 1.1em; line-height: 1; color: #555; border: 1px solid #ddd;
    }
.tagcloud a:hover { 
    color: #7A7A7A;
    }
	
/* categories widget */
.widget_categories ul { 
    list-style: none; margin-left: 0; 
    }
.widget_categories ul li {
    margin-bottom: 0; text-align: center; padding: .7em 0; border-bottom: 1px solid #eee;
    }
.widget_categories ul li a {
    margin: 0 6px; font-size: 18px; font-weight: bold; display: inline-block; text-transform: uppercase;
    }
.widget_categories ul ul {
    margin: 0;
    }
.widget_categories ul ul li:last-child {
    border: 0;
	}
.widget_categories ul ul li a {
    font-size: 14px;
    }

/* calendar widget */
.widget_calendar table { 
    width: 100%; max-width: 300px; margin-bottom: 0; font-size: 14px; 
    }
.widget_calendar thead { 
    display: none;
    }
.widget_calendar table caption { 
    font-style: italic; padding-bottom: 10px;
    }
.widget_calendar table tr td, 
.widget_calendar table tr th { 
    padding: .5em 0;
    }
.widget_calendar tr td { 
    color:#ccc; 
    }
.widget_calendar tbody a { 
    font-weight: 700; 
    }
.widget_calendar tfoot { 
    font-size: 13px; 
    }
.widget_calendar tfoot #prev { 
    text-align: left; 
    }
.widget_calendar tfoot #next { 
    text-align: right; 
    }

/* CUSTOM WIDGETS */

/* SOCIAL FEED */
.social-feed ul {
    margin-left: 0; list-style: none; 
    }
.social-feed ul li,
.flickr_badge_image { 
    display:inline-block; padding: 0 4px 4px 0; font-size: 0;
    }
.social-feed ul li img,
.flickr_badge_image img { 
    max-width: 80px; max-height: 100%; opacity: .9; 
    }
.social-feed ul li a:hover img,
.flickr_badge_image a:hover img { 
    opacity: 1; 
    }

/* INSTAGRAM WIDGET */
/* wp plugin : simple instagram */
.widget-instagram { 
    overflow: hidden; 
    }
.si_feed_widget ul {
    margin-left: 0; 
    }
.si_feed_widget .si_item { 
    display: block; float: left; margin: 0 10px 10px 0; width: auto; 
    }
.si_feed_widget .si_item img { 
    max-width: 70px; border-radius: 6px; opacity: .9; 
    }
.si_feed_widget .si_item a:hover img { 
    opacity: 1; 
    }
.si_feed_widget .si_item a:hover { 
    border:0; text-decoration:none; background: none; 
    }

/* EMAIL NEWSLETTER WIDGET */
.eemail_caption { 
    padding: .5em 0 .2em 0; font-size: 15px;
    }
.eemail_msg span {
    display: inline-block; padding: 4px 10px; background: #333; color: #fff;
    }
.eemail_textbox { 
    padding-bottom: 1em; 
    }

/* TOP10 Popular Posts Widget */
.tptn_posts ul {
	list-style: none; margin: 0;
	}
.tptn_posts ul li {
	display: block; clear: left; overflow: hidden; margin-bottom: 1em;
	}
.tptn_posts img {
	float: left; margin-right: 16px; max-height: 88px; width: auto;
	}
.tptn_posts .tptn_link {
	display: block;
	}
.tptn_posts .tptn_after_thumb > span {
	font-size: 13px; color: #ccc; margin-right: 6px;
	}
.tptn_title {
    font-weight: bold; font-size: 18px; line-height: 1; text-transform: uppercase;
	} 
	
	
/* GALLERY */
.gallery-grid {
	position: relative; text-align: center; margin-top: -10px;
	}
.gallery-grid .masonry-item {
	padding: 10px; position: relative;
	}
.gallery-grid figure {
	position: relative; overflow: hidden; background: #111; cursor: pointer;
	}
.gallery-grid figure img {
	position: relative; display: block; width: 100%; max-width: 100%; opacity: 0.7; max-width: none; width: -webkit-calc(100% + 60px); width: calc(100% + 60px); -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -webkit-transform: translate3d(-50px,0,0); transform: translate3d(-50px,0,0);
	}
.gallery-grid figure:hover img {
	opacity: 0.5; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);
	}
.gallery-grid figure figcaption {
	padding: 2.4em; color: #fff; -webkit-backface-visibility: hidden; backface-visibility: hidden; text-align: left; text-transform: uppercase; z-index: 1;
	}
.gallery-grid figure:hover p {
	opacity: .8; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);
	}
.gallery-grid figure figcaption:before, 
.gallery-grid figure figcaption:after {
	pointer-events: none;
	}
.gallery-grid figure figcaption, 
.gallery-grid a {
	position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block;
	}
.gallery-grid a {
	z-index: 1000; text-indent: 200%; white-space: nowrap; font-size: 0; background: rgba(255,255,255,0);
	}
.gallery-grid figure h2 {
	letter-spacing: -1px; font-size: 1.5em; font-weight: 700; line-height: 1.1; padding: 28% 0 10px 0;
	}
.gallery-grid .post-password-required h2:before {
	content: '\e88e'; display: block; text-align: left; font-size: 16px; position: absolute; top: 14px; right: 18px;
	}
.gallery-grid figure h2, 
.gallery-grid figure p {
	margin: 0
	}
.gallery-grid figure p {
	font-size: 13px; line-height: 1.3; opacity: 0; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -webkit-transform: translate3d(-10px,0,0); transform: translate3d(-10px,0,0);
	}

/* OWL CAROUSEL */
.owl-carousel {
    margin-bottom: 1.2em;
    }
.owl-carousel.owl-loading {
	height: 120px; opacity: 1; overflow: hidden; background: url(../images/bckg/loading.gif) 50% 50% no-repeat; background-size: 88px 8px;
	}
.owl-carousel.owl-loading > * {
	opacity: 0;
	}
.owl-theme * { 
	-webkit-backface-visibility: hidden;
	}
.owl-stage { 
	cursor: pointer; cursor: -webkit-grab; cursor: -moz-grab;
	}
.owl-stage.owl-grab { 
	cursor: pointer; cursor: -webkit-grabbing; cursor: -moz-grabbing;
	}
.owl-theme .owl-nav {
	-webkit-tap-highlight-color: transparent;
	}
.owl-theme .owl-nav div {
	position: absolute; top: 50%; margin-top: -15px; left: 20px; color: #fff; border: 3px solid #fff; font-size: 11px; padding: 4px 8px; display: inline-block; cursor: pointer; text-transform: uppercase; font-weight: 700; letter-spacing: 1px; 
	}
.owl-theme .owl-nav div.owl-next {
	right: 20px; left: auto; 
	}
.owl-theme .owl-nav div:hover {
	background: #333; border-color: #333;
	}
.owl-theme .owl-nav .disabled {
	opacity: 0.5; cursor: default;
	}
.owl-theme .owl-dots {
	margin-top: 8px; text-align: center; -webkit-tap-highlight-color: transparent;
	}
.owl-theme .owl-dots .owl-dot {
	display: inline-block; 
	}
.owl-theme .owl-dots .owl-dot span {
	width: 10px; height: 10px; margin: 0 2px; display: block; border-radius: 50%; background: #eee;
	-webkit-backface-visibility: visible;
	}
.owl-theme .owl-dots .owl-dot:hover span {
	background: #ccc;
	}
.owl-theme .owl-dots .owl-dot.active span {
	background: #333;
	}
.owl-title {
 	position: absolute; bottom: 20px; left: 20px; margin: 0; padding: .4em 1.2em; font-size: 13px; color: #333; background: #fff;
	}

/* TOP CONTENT */
.top-content {
	margin-bottom: 1.6em;
	}

/* GALLERY SINGLE */
.gallery-single .gallery {
	margin-bottom: 0;
	}
.pw-collage {
	margin: 2em 0; padding: 10px; padding-top: 0; font-size: 0;
	}
.pw-collage-loading {
	background-color: #fff; min-height: 120px; background: url(../images/bckg/loading.gif) 50% 60px no-repeat; background-size: 88px 8px;
	}
.pw-collage a {
	display: block; opacity:0; 
	}
.no-csstransforms3d .pw-collage a {
	opacity: 1 !important;
	}
.pw-collage img {
 	display: block; width: 100%;
	}
.pw-collage figure {
 	display: none;
	}
/* PHOTO-SWIPE */
.pswp button:active,
.pswp button:hover { 
	background-color: transparent; 
	}
.pswp__caption {
	text-align: left; background: none; 
	}
.pswp__caption__center {
	display: inline-block; background: #111; color: #fff; text-transform: uppercase; letter-spacing: 1px;
	}

/*
from transitions.css
A library of transitions for revealing the loaded images
(Heavily) Inspired by http://tympanus.net/codrops/2013/07/02/loading-effects-for-grid-items-with-css-animations/
*/
.pw-collage {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    }
	
/* EFFECT 1 */
.effect-1 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% -300px;
    -moz-transform-origin: 50% 50% -300px;
    transform-origin: 50% 50% -300px;
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -webkit-animation: fly ease-in-out forwards;
    -moz-animation: fly ease-in-out forwards;
    animation: fly ease-in-out forwards;
}
@-webkit-keyframes fly {
    100% { -webkit-transform: rotateX(0deg); opacity: 1; -webkit-transform-origin:50% 50% 0; }
}
@-moz-keyframes fly {
    100% { -moz-transform: rotateX(0deg); opacity: 1; -moz-transform-origin:50% 50% 0; }
}
@keyframes fly {
    100% { transform: rotateX(0deg); opacity: 1; transform-origin:50% 50% 0; }
}

/* EFFECT 2 */
.effect-2 {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp ease forwards;
    -moz-animation: moveUp ease forwards;
    animation: moveUp ease forwards;
}
@-webkit-keyframes moveUp {
    to { -webkit-transform: translateY(0); opacity: 1; }
}
@-moz-keyframes moveUp {
    to { -moz-transform: translateY(0); opacity: 1; }
}
@keyframes moveUp {
    to { transform: translateY(0); opacity: 1; }
}

/* EFFECT 3 */
.effect-3 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    -moz-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    -webkit-animation: fallPerspective ease-in-out forwards;
    -moz-animation: fallPerspective ease-in-out forwards;
    animation: fallPerspective ease-in-out forwards;
}

@-webkit-keyframes fallPerspective {
    100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}
@-moz-keyframes fallPerspective {
    100% { -moz-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}
@keyframes fallPerspective {
    100% { transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

/* EFFECT 4 */
.effect-4 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateX(-80deg);
    -moz-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    -webkit-animation: flip ease-in-out forwards;
    -moz-animation: flip ease-in-out forwards;
    animation: flip ease-in-out forwards;
}

@-webkit-keyframes flip {
    100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}
@-moz-keyframes flip {
    100% { -moz-transform: rotateX(0deg); opacity: 1; }
}
@keyframes flip {
    100% { transform: rotateX(0deg); opacity: 1; }
}

/* EFFECT 5 */
.effect-5 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-animation: moveUp ease-in-out forwards;
    -moz-animation: moveUp ease-in-out forwards;
    animation: moveUp ease-in-out forwards;
}

/* EFFECT 6 */
.effect-6 {
    -webkit-transform:  scale(0.638) translate(-179px);
    -moz-transform:     scale(0.638) translate(-179px);
    transform:          scale(0.638) translate(-179px);
    -webkit-animation: moveUp ease-in-out forwards;
    -moz-animation: moveUp ease-in-out forwards;
    animation: moveUp ease-in-out forwards;
}

/* Universal durations */
.effect-duration-1{
    -webkit-animation-duration: .4s;
    -moz-animation-duration:    .4s;
    animation-duration:         .4s;
}
.effect-duration-2{
    -webkit-animation-duration: .5s;
    -moz-animation-duration:    .5s;
    animation-duration:         .5s;
}
.effect-duration-3{
    -webkit-animation-duration: .6s;
    -moz-animation-duration:    .6s;
    animation-duration:         .6s;
}
.effect-duration-4{
    -webkit-animation-duration: .7s;
    -moz-animation-duration:    .7s;
    animation-duration:         .7s;
}
.effect-duration-5{
    -webkit-animation-duration: .8s;
    -moz-animation-duration:    .8s;
    animation-duration:         .8s;
}
.effect-duration-6{
    -webkit-animation-duration: .9s;
    -moz-animation-duration:    .9s;
    animation-duration:         .9s;
}
.effect-duration-7{
    -webkit-animation-duration: .95s;
    -moz-animation-duration:    .95s;
    animation-duration:         .95s;
}
.effect-duration-8{
    -webkit-animation-duration: 1s;
    -moz-animation-duration:    1s;
    animation-duration:         1s;
}
.effect-duration-9{
    -webkit-animation-duration: 1.05s;
    -moz-animation-duration:    1.05s;
    animation-duration:         1.05s;
}
.effect-duration-10{
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration:    1.1s;
    animation-duration:         1.1s;
}


/* INTRO */
.intro {
	text-align: center;
	}
	.intro h2 {
	     font-weight: 100; font-size: 1.2em; line-height: 1.4;
		}
	.intro h2 strong {
        font-weight: 700;  letter-spacing: -1px;
		}

/* ROTATE WORDS */
.rotate-words {
	display: inline-block; min-width: 100px; min-height: 19px; text-align: left;
	}
.rotate-words span {
	position: absolute; opacity: 0; font-weight: 700; letter-spacing: -1px;
	}
.rotate-words span.rotate-in {
	animation: rotateInWord .5s linear forwards;
	-webkit-animation: rotateInWord .5s linear forwards;
	}
.rotate-words span.rotate-out {
	animation: rotateOutWord .5s linear forwards;
	-webkit-animation: rotateOutWord .5s linear forwards;
	}
.rotate-words span:first-child {
	opacity: 1; 
	}
.no-csstransforms3d .rotate-words span {
	display: none; opacity: 1;
	}

@-webkit-keyframes rotateInWord {
    0% { opacity: 0; -webkit-transform: translateY(-30px); }
	100% { opacity: 1; -webkit-transform: translateY(0px); }
}
@-webkit-keyframes rotateOutWord {
    0% { opacity: 1; -webkit-transform: translateY(0px); }
	100% { opacity: 0; -webkit-transform: translateY(30px); }
}
@keyframes rotateInWord {
    0% { opacity: 0; transform: translateY(-30px); }
	100% { opacity: 1; transform: translateY(0px); }
}
@keyframes rotateOutWord {
    0% { opacity: 1; transform: translateY(0px); }
	100% { opacity: 0; transform: translateY(30px); }
}	
	

/* HOME */
.home-wrap { 
	position: relative; 
	}	
.home-wrap .intro { 
	position: absolute; top: 0; padding-top: 16%; width: 100%; z-index: 100; color: #fff; 
	}
.home-wrap .ri-grid:after { 
	content: ""; position: absolute; z-index: 10; top: 0; left: 0; right: 0; bottom: 0; background: #111; opacity: .6; 
	}
.home-wrap .intro + * {
    margin: 2.2em auto 0 auto; max-width: 1060px;
	}
	
/* IMAGE GRID */	
.ri-grid{
	margin: 0 auto; position: relative; height: auto; width: 100%; background: #111;
	}
.ri-grid ul {
	list-style: none; display: block; width: 100%; margin: 0; padding: 0;
	}
.ri-grid ul:before,
.ri-grid ul:after{
	content: ''; display: table;
	}
.ri-grid ul:after {
    clear: both;
	}
.ri-grid ul li {
	margin: 0; padding: 0; float: left; position: relative; display: block; overflow: hidden;
	-webkit-perspective: 400px;
	-ms-perspective: 400px;
	perspective: 400px;	
	}

.ri-grid ul li a{
	display: block; outline: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #fff;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.ri-grid-loading:after,
.ri-grid-loading:before{
	display: none;
	}
.ri-loading-image{
	display: none;
	}
.ri-grid-loading {
	background-color: #fff; min-height: 120px; background: url(../images/bckg/loading.gif) 50% 50% no-repeat;  background-size: 88px 8px;
	}
.ri-grid-loading + .intro {
	display: none;
	}
	
/* KEN BURNS SLIDER */
.sy-box {
	max-height: 520px; overflow: hidden;
	}
.sy-box ul {
	list-style: none;
	}
.home-wrap .sy-slides-wrap:after { 
	content: ""; position: absolute; z-index: 10; top: 0; left: 0; right: 0; bottom: 0; background: #111; opacity: .2; 
	}
.sy-box + .intro { 
	padding: 0 !important; top: 50%; margin-top: -30px; 
	}	
.sy-box img{
	width: 100%;
	}
.sy-box.sy-loading {
	min-height: 120px; background: url(../images/bckg/loading.gif) 50% 50% no-repeat; background-size: 88px 8px;
	}
.sy-loading + .intro {
	display: none;
	}

/* HOME LANDING */
.home-landing body {
	position: static;
	}
.home-landing .layout-full {
	width: 100%;
	}
.home-landing .site-header {
	display: none; 
	}
.home-landing .home-wrap {
	text-align: center; position: static;
	}
.home-landing .ri-grid,
.home-landing .sy-box {
	position: fixed; top: 0; right: 0; bottom: 0; left: 0; max-height: none;
	}
.home-landing .home-wrap .intro {
	padding: 0; top: 22%; padding: 0 2em;
	}
.home-landing .intro {
	display: none;
	}
.home-landing.loaded .intro {
	display: block;
	}
.home-landing .intro h2 {
	margin-top: 0;
	}
.home-landing .site-footer {
	position: fixed; bottom: 13%; border: 0; color: #fff;
	}
.home-landing .site-footer .site-info {
	display: none;
	}
.home-landing .social li a {
	font-size: 16px; width: 32px; line-height: 32px; margin: 0; border: 0; color: #fff; background: none;
	}
.home-landing .button {
	margin-top: 1em; border: 3px solid #fff; color: #fff; background: none;
	}
.home-landing .button:active {
	border: 3px solid #fff;
	}
.home-landing .button:hover {
	background: #fff; color: #333;
	}

/* MAGNIFIC POPUP PLUGIN */
button.mfp-close,
button.mfp-arrow:before {
	background: url(../js/photo-swipe/default-skin/default-skin.png) 0 0 no-repeat; background-size: 264px 88px;
	}
button.mfp-close {
	width: 44px; height: 44px; color: transparent; background-position: 0 -44px;
	}
button.mfp-arrow { 
	width: 70px; height: 100px; opacity: .9;
	}
button.mfp-arrow:hover,
button.mfp-close:hover { 
	background-color: transparent; 
	}
button.mfp-arrow:after { 
	display: none; 
	}
button.mfp-arrow:before {
	content: ''; position: absolute; top: 35px; height: 30px; width: 32px; border: 0; margin: 0;
	}
button.mfp-arrow-left:before {
	left: 6px; background-position: -138px -44px; 
	}
button.mfp-arrow-right:before {
	left: auto; right: 6px; background-position: -94px -44px; 
	}
.mfp-title {
	display: inline-block; position: fixed; bottom: 4px; left: 0; padding: 0 8px; font-size: 13px; line-height: 27px; color: #fff; text-transform: uppercase; letter-spacing: 1px;
	}
.mfp-counter {
	position: fixed; top: 14px; left: 14px; font-size: 13px; font-weight: 400; color: #fff; opacity: .85; 
	}
.mfp-removing button,
.mfp-removing .mfp-title { 
	opacity: 0; 
	}
.mfp-figure:after {
	box-shadow: none; 
	}
/* zoom-in animation */
html {
	-webkit-backface-visibility: hidden;
	}
.mfp-ready .mfp-figure {
	opacity: 0;
	}
.mfp-zoom-in .mfp-figure { 
	opacity: 0; transition: all 0.2s ease-out; transform: scale(0.9);
	}
.mfp-zoom-in.mfp-bg,
.mfp-zoom-in .mfp-preloader {
	opacity: 0; transition: all 0.2s ease-out;
	}
.mfp-zoom-in.mfp-image-loaded .mfp-figure {
	opacity: 1; transform: scale(1);
	}
.mfp-bg { 
	background: #000; 
	}
.mfp-zoom-in.mfp-ready.mfp-bg,
.mfp-zoom-in.mfp-ready .mfp-preloader {
	opacity: 0.95;
	}
.mfp-zoom-in.mfp-removing .mfp-figure {
	transform: scale(0.9); opacity: 0;
	}
.mfp-zoom-in.mfp-removing.mfp-bg,
.mfp-zoom-in.mfp-removing .mfp-preloader {
	opacity: 0;
	}
.mfp-preloader {
	width: 88px; height: 8px; opacity: 0.65; margin: 0 auto; background: url(../images/bckg/loading-light.gif) center center no-repeat; background-size: 88px 8px;
	}
/* fade image change */
.mfp-image-loaded .mfp-figure {
	-webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-duration: .2s; animation-duration: .2s; -webkit-backface-visibility: hidden;
	}
@-webkit-keyframes fadeIn{
	0%{ opacity:0 }
	100%{ opacity:1 }
	}
@keyframes fadeIn{
	0%{ opacity:0 }
	100%{ opacity:1 }
	}
	


/*  --------------------------------------------

	6. THEME - customize colors etc...
	
    -------------------------------------------- */
body {
 	color: #333; background: #fff; 
	}
/* Links */
a {
 	color: #AB977A;
	}
a:hover {
 	color: #C9B69B;
	}

/* Text Selection */
::selection {
 	text-shadow: none; color: #333; background: #eee;
	}
::-moz-selection {
    text-shadow: none; color: #333; background: #eee;
	}